doctype html
html(lang ="en")
  head

  body
    h1 userID
    p #{viewCustomerDetail1}
    p #{viewCustomerDetail2}


    h1 DETAILS
    p #{(viewCustomerDetail2."bankId")}

    p #{viewCustomerDetail2.gender}
    p #{viewCustomerDetail2.name}
