doctype html
html(lang ="en")
  head

  body
    h1 userID
    p #{viewCustomerDetail1}
    p
      | #{viewCustomerDetail2.salutation.label} #{viewCustomerDetail2.name}
      | #{viewCustomerDetail2.birthDate}
      | #{viewCustomerDetail2.addresses[0].street}


    p #{viewCustomerDetail2.addresses}

    p #{viewCustomerDetailX}
    p #{viewCustomerDetail3}
    p #{viewCustomerDetail4}
