
h1 userID
p #{viewCustomerDetail1}
h1 user details 2
p #{viewCustomerDetail2}

h1 user details 3
p #{viewCustomerDetail3}

h1 user details 4
p #{viewCustomerDetail4}

h1 beter 2
p #{viewCustomerDetailX2}

h1 beter 3
p #{viewCustomerDetailX3}
h1 beter 4
p #{viewCustomerDetailX4}

h1 beter 4
p #{viewCustomerDetailX4.list[0]}
h1 details 3
p #{viewCustomerDetailX3.list}
