extends layout

block content
  h1 Your profile
  hr
  .row
    .col-sm-6
      .panel.panel-default.portlet
        .panel-heading Connected profiles
        .panel-body
           if user.ingAccount
              p: a.bg-success(href='/account/unlink/ingAccount') Your ING account is linked, click to unlink.
           else
              p: a(href='/auth/ING') Link your ING account
             if user.facebook
               p: a.bg-success(href='/account/unlink/facebook') Your Facebook account is linked, click to unlink.
             else
               p: a(href='/auth/facebook') Link your Facebook account
            if user.linkedin
              p: a.bg-success(href='/account/unlink/linkedin') Your LinkedIn account is linked, click to unlink.
            else
              p: a(href='/auth/linkedin') Link your LinkedIn account
            p
                a.btn.btn-default(href='/account', role='button') Profile details »

    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading Facebook
            .panel-body
              if user.facebook
                  label.control-label(for='name') Name
                  p #{fbProfile.name}
                  label.control-label(for='name') Email
                  p #{fbProfile.email}
                  label.control-label(for='name') Gender
                  p #{fbProfile.gender}
                  label.control-label(for='name') Location
                  p #{fbProfile.location.name}
                  p
                    a.btn.btn-default(href='#{fbProfile.link}', role='button') View full profile »
              else
                   p: a(href='/auth/facebook') Link your Facebook account!

    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading LinkedIn
            .panel-body
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading Heading
            .panel-body
              a(href='/newpage') newpage
              a(href='/customerDetail') details
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn.btn-default(href='#', role='button') View details »
